body {
  font-family: 'Open Sans', 'Dosis';
  text-align: center;
}

#woman {
  width: 592px;
  margin: 0 auto 32px;
}
#woman img {
  margin-bottom: 32px;
}

h1 {
  font-family: 'Dosis';
  color: #3F3D56;
  font-size: 32px;
  line-height: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

span {
  color: #EE24FF;
  
}

p {
  color: #828282;
  font-size: 15;
}

a {
  color: #3F3D56;
  font-size: 15;
  font-weight: bold;
}

#footer a + a {
  margin-left: 28px;
}


#wave {
 /* margin: auto; */
 position: fixed;
  bottom: 0px;
  right: 0px;
}